footer#footer
    section.footer-top
        .left-top
            img(src="../../../img/icons/logo.png" alt="")
            p Top healthcare experience to gather from #[br]the top hospitals and doctors near you.
            br
            .storeIcon
                img(src="../../../img/footer/App Store Button.png" alt="")
                img(src="../../../img/footer/App Store Button_2.png" alt="")
        div
            h5 Product
            p Overview
            p Features
            p Solutions
            p Tutorials
            p Pricing
        div
            h5 Company
            p About us
            p Careers
        div
            h5 Legal
            p Privacy
            p Cookies
            p Contact
        div
            h5 Contact Us
            p Phone: 01725028366
            p Phone: 01912986866
            p medihub@gmail.com
            p mhsupport@gmail.com
    hr
    section.footer-bottom
        h5 &copy; 2023 MediHUB. All rights reserved.
        div
            img(src="../../../img/footer/GooglePay.png" alt="")
            img(src="../../../img/footer/Visa.png" alt="")
            img(src="../../../img/footer/Mastercard.png" alt="")
            img(src="../../../img/footer/PayPal.png" alt="")
        div
            img(src="../../../img/footer/Social icon_1.png" alt="")
            img(src="../../../img/footer/Social icon_2.png" alt="")
            img(src="../../../img/footer/Social icon_3.png" alt="")