extend base

block content 
    section.about-us
        .history4
            div
                h1
                    i Quality healthcare Made Simple
                h2 Health is a habit
                p
                    | It is the journey that takes you to new destinations every day with endless possibilities of life on the back of happiness, energy, and hope. MediHub wants to make this journey easy for everyone and help them live healthier and longer lives.
            div
                img(src='../../../img/dashboard/docmob.jpg' alt='')
        .offerings
            .offerings-left
                h1 Our Offerings
                p
                    i.fa.fa-check(aria-hidden='true') &nbsp; Comprehensive medical directory
                p
                    i.fa.fa-check(aria-hidden='true') &nbsp; Online appointment booking
                p
                    i.fa.fa-check(aria-hidden='true') &nbsp; Online consultation
                p
                    i.fa.fa-check(aria-hidden='true') &nbsp; Doctors &amp; Patients History
                p
                    i.fa.fa-check(aria-hidden='true') &nbsp; Patient Monitoring
                p
                    i.fa.fa-check(aria-hidden='true') &nbsp; Plus, subscription-based health plans
            .offerings-right
                div
                    img(src='../../../img/dashboard/country-icon.svg' alt='')
                    p 20+ Countries
                div
                    img(src='../../../img/dashboard/patient-icon.svg' alt='')
                    p 30Cr+ Patient
                div
                    img(src='../../../img/dashboard/doctor-icon.svg' alt='')
                    p 1L+ Doctors
        .history4
            .security
                h2 Continuity of care via free follow up consults.
                h1
                    i 24x7 Instant Booking
                p
                    | Online booking is available 24 hours a day, seven days a week, even when your clinic / hospital is closed. Patients may not always schedule appointments during office hours and with the option of 24x7 Instant booking, they no longer have to! Multiple surveys show, patients prefer the convenience of self booking as the experience is consistent, and predictable every time!
            div
                img(src='../../../img/dashboard/book.svg' alt='')
        .history5
            div
                img(src='../../../img/dashboard/treatment.jpg' alt='')
            .security
                h1
                    i Each time a patient finds the right doctor, we build a healthier nation
                h1 Data privacy and security is our top priority
                img(src='../../../img/dashboard/security.png' alt='')
        .about-bottom
            h1 What others say about us
            .review
                i.fa.fa-chevron-left(aria-hidden='true')
                p
                    | &quot;I recently used MediHub to schedule an appointment with my doctor and was thoroughly impressed. The website was easy to navigate and allowed me to quickly find and book an appointment that fit my schedule. The interface was clean and user-friendly, with all the information I needed easily accessible. Additionally, I appreciated the reminder emails and notifications that helped me stay on top of my appointment and kept me informed of any changes. Overall, I had a great experience using [Doctor Appointment Website] and would highly recommend it to anyone looking for a hassle-free way to schedule their medical appointments.&quot;
                i.fa.fa-chevron-right(aria-hidden='true')
        .approach-main
            h1 Our approach to healthcare
            p
                | Providing high-quality, trusted, and accessible healthcare is our reason for being
            .approach
                .appImg
                    img(src='../../../img/dashboard/connect.svg' alt='')
                    h3 Connect
                .appImg
                    img(src='../../../img/dashboard/trust.svg' alt='')
                    h3 Trust
                .appImg
                    img(src='../../../img/dashboard/transparency.svg' alt='')
                    h3 Transparency