doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MediHub | #{title}
        link(rel="icon" type="image/x-icon" href="img/icons/favicon.png")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
    body 
        section#header  
            a(href="/") 
                img(src="img/icons/logo.png", alt="logo")
            nav
                ul#navbar
                    /// <li><a class="active" href="landing.html">Home</a></li>
                    li: a(href="hospitalReg.html") Hospital Registration
                    li: a(href="doctors.html") Doctors
                    li: a(href="hospitals.html") Hospitals
                    li: a(href="blogs.html") Blogs
                    li: a(href="about.html") About Us
                    /// <a href="#" id="close"><i class="far fa-times"></i></a> 
            .sign-in
                a(href="signIn.html") Sign In
                button.create-button Create Free Account
            /// <i id="mobile" class="fas fa-outdent"></i>

        section#hero
            img(src="img/left1.png" alt="")
            div
                p Book Your #[span(style="color: #7F56D9;") Next Doctors] Appointment                   
            img(src="img/right1.png" alt="")
        
        section#search-container
            .search-section
                /// <i id="filtersubmit" class="fa fa-search"></i>
                .first-box
                    input(type="text" placeholder="Search by Specialty, Hospital name or Doctor’s name...")
                .second-box
                    input(type="text" placeholder="Search location...")
                button
                    img#searchIcon2(src="img/icons/search2.png" alt="")
            p.para You may be looking for
            .type-section
                .combo
                    p Family Medicine
                    img(src="img/icons/Cross.png" alt="")
                .combo
                    p Pediatrics
                    img(src="img/icons/Cross.png" alt="")
                .combo
                    p Dhaka Medical
                    img(src="img/icons/Cross.png" alt="")
                .combo
                    p Dentist
                    img(src="img/icons/Cross.png" alt="")
                .combo
                    p COVID-19
                    img(src="img/icons/Cross.png" alt="")
        section#mid-container
            p.top-p How it works
            p.mid-p Three steps to complete your health checkup
            p.bottom-p Follow these steps and complete your health checkup with the best doctors
            .checkup-combo
                .checkup
                    img(src="img/icons/search.png" alt="")
                    p.head Search Doctors
                    p.desc MEDIHUB gives you the full picture of a doctor’s qualifications, including clinical experience, hospital quality measures, and patient feedback.
                .checkup
                    img(src="img/icons/book.png" alt="")
                    p.head Book Appointment
                    p.desc MEDIHUB gives you the full picture of a doctor’s qualifications, including clinical experience, hospital quality measures, and patient feedback.
                .checkup
                    img(src="img/icons/consult.png" alt="")
                    p.head Consult With Doctors
                    p.desc MEDIHUB gives you the full picture of a doctor’s qualifications, including clinical experience, hospital quality measures, and patient feedback.
        
        section#mid-container
            p.top-p Specialty
            p.mid-p Book your nearest available doctors by specialty
            p.bottom-p Book your nearest available doctors
            .checkup-combo
                .checkup
                    img(src="img/speciality/dentist.jpg" alt="")
                    p.head Dentist
                    p.desc MEDIHUB provides the most accurate, comprehensive information.
                .checkup
                    img(src="img/speciality/internalmedicine.jpg" alt="")
                    p.head Internal Medicine
                    p.desc MEDIHUB provides the most accurate, comprehensive information.
                .checkup
                    img(src="img/speciality/cardiology.jpg" alt="")
                    p.head Cardiology
                    p.desc MEDIHUB provides the most accurate, comprehensive information.
                .checkup
                    img(src="img/speciality/orthopedic.jpg" alt="")
                    p.head Orthopedic
                    p.desc MEDIHUB provides the most accurate, comprehensive information.
        
        section#mid-container
            p.top-p Doctors
            p.mid-p Best doctor’s from the best hospitals
            p.bottom-p Have a look at our best doctors from the registered Hospitals
            .checkup-combo
                .checkup
                    img.img(src="img/doctor/image1.jpg" alt="")
                    .line1
                        p.rate Rahiq Ahmed
                        p 4.9
                        img(src="img/icons/Star 1.png" alt="")
                    .line2
                        p Medicine
                        p (32)
                    .line3
                        img(src="img/icons/hospital.png" alt="")
                        p Dhaka Medical
                    .line4
                        button.view View Profile
                        button.book Book Now
                .checkup
                    img.img(src="img/doctor/image2.jpg" alt="")
                    .line1
                        p.rate Nayeem Ahmed
                        p 4.8
                        img(src="img/icons/Star 1.png" alt="")
                    .line2
                        p Dentist
                        p (32)
                    .line3
                        img(src="img/icons/hospital.png" alt="")
                        p Rajshahi Medical
                    .line4
                        button.view View Profile
                        button.book Book Now
                .checkup
                    img.img(src="img/doctor/image3.jpg" alt="")
                    .line1
                        p.rate Jannatul Ritu
                        p 5.0
                        img(src="img/icons/Star 1.png" alt="")
                    .line2
                        p Orthopedic
                        p (32)
                    .line3
                        img(src="img/icons/hospital.png" alt="")
                        p Faridpur Medical
                    .line4
                        button.view View Profile
                        button.book Book Now
                .checkup
                    img.img(src="img/doctor/image4.jpg" alt="")
                    .line1
                        p.rate Prio ATM
                        p 4.9
                        img(src="img/icons/Star 1.png" alt="")
                    .line2
                        p Cardiologist
                        p (32)
                    .line3
                        img(src="img/icons/hospital.png" alt="")
                        p Bogura Medical
                    .line4
                        button.view View Profile
                        button.book Book Now
        section#mid-container
            p.top-p Hospitals
            p.mid-p Explore your nearest hospitals
            p.bottom-p Book your nearest available doctors
            .checkup-combo
                .hospital
                    img(src="img/hospital/hospital1.jpg" alt="")
                    p.head Shishu Hospital
                    p.desc Agrabad
                    button #[img(src="img/icons/locate.png" alt="")] Get Direction
                .hospital
                    img(src="img/hospital/hospital2.jpg" alt="")
                    p.head Bandar Hospital
                    p.desc Bandar
                    button #[img(src="img/icons/locate.png" alt="")] Get Direction
                .hospital
                    img(src="img/hospital/hospital3.jpg" alt="")
                    p.head halishahor hospital
                    p.desc Halishahor
                    button #[img(src="img/icons/locate.png" alt="")] Get Direction
                .hospital
                    img(src="img/hospital/hospital4.jpg" alt="")
                    p.head Agrbad Medical
                    p.desc Agrabad
                    button #[img(src="img/icons/locate.png" alt="")] Get Direction
        
        section#mid-container
            p.top-p Hospital Registration
            p.mid-p Register now to get a fully functional #[br] ecosystem for your hospital
            p.bottom-p Register for free and manage your hospital functionality with a smooth and meaningful experience
            .checkup-combo
                .subscription
                    img(src="img/icons/set.png" alt="")
                    p.desc Set up your hospital details and pay monthly subscription fee.
                .subscription
                    img(src="img/icons/tell.png" alt="")
                    p.desc Tell the doctors to register themselves under your hospital.
                .subscription
                    img(src="img/icons/manage.png" alt="")
                    p.desc Manage your patients details individually by a patient profile.

        section#mid-container
            p.top-p Blogs
            p.mid-p Our Recent Blogs
            p.bottom-p Get more knowledge about your health from our blogs.
            .checkup-combo
                .blog-left
                    .left-top
                        img(src="img/food.jpg" alt="")
                        div
                            time November 16, 2022
                            h4 Choose Your Diet Correctly
                            p Eating a wide variety of nutritious foods, including fruit, vegetables, nuts, seeds, and lean protein can help support your overall health.
                            button.btn1 Diet
                    .left-top
                        img(src="img/teeth.jpg" alt="")
                        div
                            time September 24, 2022
                            h4 See The Dentist
                            p The best practices for healthy teeth and gums include regular brushing, flossing, and avoiding certain types of food and beverage.
                            button.btn1 Teeth
                            button.btn2 Health
                .blog-right
                    img(src="img/body.jpg" alt="")
                    br
                    time March 13, 2022
                    h2 Three Ways To Keep Your Body Healthy
                    p A healthy body is maintained by good nutrition, regular exercise, avoiding harmful habits, making informed and responsible decisions about health, and seeking medical assistance when necessary.
                    button.btn2 Health
                    button.btn1 Fitness
        footer#footer
            section.footer-top
                .left-top
                    img(src="img/icons/logo.png" alt="")
                    p Top healthcare experience to gather from #[br]the top hospitals and doctors near you.
                    br
                    .storeIcon
                        img(src="img/footer/App Store Button.png" alt="")
                        img(src="img/footer/App Store Button_2.png" alt="")
                div
                    h5 Product
                    p Overview
                    p Features
                    p Solutions
                    p Tutorials
                    p Pricing
                div
                    h5 Company
                    p About us
                    p Careers
                div
                    h5 Legal
                    p Privacy
                    p Cookies
                    p Contact
                div
                    h5 Contact Us
                    p Phone: 01725028366
                    p Phone: 01912986866
                    p medihub@gmail.com
                    p mhsupport@gmail.com
            hr
            section.footer-bottom
                h5 &copy; 2023 MediHUB. All rights reserved.
                div
                    img(src="img/footer/GooglePay.png" alt="")
                    img(src="img/footer/Visa.png" alt="")
                    img(src="img/footer/Mastercard.png" alt="")
                    img(src="img/footer/PayPal.png" alt="")
                div
                    img(src="img/footer/Social icon_1.png" alt="")
                    img(src="img/footer/Social icon_2.png" alt="")
                    img(src="img/footer/Social icon_3.png" alt="")
                </div>