doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title MediHub | #{title}
        link(rel="icon" type="image/x-icon" href="../../../../img/icons/favicon.png")
        link(rel="stylesheet" href="../../../css/style.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

    body
        section.presMain
            .presContent
                section.presTop
                    .leftHead
                        h2 North Bengal Medical Hospital
                        p 78, Satmasjid Road (West of Road 27),Dhanmondi, Dhaka-1209
                        p
                            i.fa.fa-phone(aria-hidden='true') &nbsp; 10620, 09666787878
                        p
                            i.fa.fa-envelope(aria-hidden='true') &nbsp; info@bdeyehospital.com
                    .midHead
                        img.medihub(src='../../../img/icons/groupicon.png' alt='')
                    .rightHead
                        h2 Dr. Mahbub Rahman
                        p Medicine Specialist
                        p MBBS, FCPS (Medicine), MRCP (UK)
                .flex1.border1
                    p Patient Name : Omar Faruk
                    p Age : 25
                    p Gender : Male
                    p 02 March 2023
                section.presMid
                    .leftMid
                        h3 Symptoms
                        textarea#textarea1(name='sy')
                        h3 Tests
                        textarea#textarea1(name='sy')
                        h3 Advices
                        textarea#textarea1(name='sy')
                    hr
                    .rightMid
                        table#table
                            tbody
                                tr
                                    th No.
                                    th Name of Medicine
                                    th Morning
                                    th Noon
                                    th Night
                                    th Taken Timing
                                tr
                                    td 1.
                                    td
                                        input(type='test' name='med_name' placeholder='Insert Medicine name' required='')
                                    td
                                        input.mTime(type='number' name='' id='' value='0')
                                    td
                                        input.mTime(type='number' name='' id='' value='0')
                                    td
                                        input.mTime(type='number' name='' id='' value='0')
                                    td 
                                        select#time(name='time' required='')
                                            option(value='' selected='selected') Select One
                                            option(value='before meal') Before Meal
                                            option(value='after meal') After Meal
                                tr
                                    td 2.
                                    td
                                        input(type='test' name='med_name' placeholder='Insert Medicine name' required='')
                                    td
                                        input.mTime(type='number' name='' id='' value='0')
                                    td
                                        input.mTime(type='number' name='' id='' value='0')
                                    td
                                        input.mTime(type='number' name='' id='' value='0')
                                    td 
                                        select#time(name='time' required='')
                                            option(value='' selected='selected') Select One
                                            option(value='before meal') Before Meal
                                            option(value='after meal') After Meal

                                tr
                                    td 3.
                                    td
                                        input(type='test' name='med_name' placeholder='Insert Medicine name' required='')
                                    td
                                        input.mTime(type='number' name='' id='' value='0')
                                    td
                                        input.mTime(type='number' name='' id='' value='0')
                                    td
                                        input.mTime(type='number' name='' id='' value='0')
                                    td 
                                        select#time(name='time' required='')
                                            option(value='' selected='selected') Select One
                                            option(value='before meal') Before Meal
                                            option(value='after meal') After Meal

                                tr
                                    td 4.
                                    td
                                        input(type='test' name='med_name' placeholder='Insert Medicine name' required='')
                                    td
                                        input.mTime(type='number' name='' id='' value='0')
                                    td
                                        input.mTime(type='number' name='' id='' value='0')
                                    td
                                        input.mTime(type='number' name='' id='' value='0')
                                    td 
                                        select#time(name='time' required='')
                                            option(value='selectOne' selected='selected') Select One
                                            option(value='beforeMeal') Before Meal
                                            option(value='afterMeal') After Meal
                        if user.role=='doctor'
                            button.addButton Add Medicine
                .border1.flex1(style='height:40px')
                    h5 &copy; 2022 MediHUB. All rights reserved.
                    if user.role=='doctor'
                        button.button Save
                    button.button Download
        script(src='../../../dist/index.js')