#search-box 
    .search-section
        // <i id="filtersubmit" class="fa fa-search"></i>
        .first-box
            input(type="text" placeholder="Search by Specialty, Hospital name or Doctor’s name...")
        .second-box
            input(type="text" placeholder="Search location...")
        button
            img#searchIcon2(src="img/icons/search2.png" alt="")
