doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title MEDIHUB | #{title}
        link(rel="icon" type="image/x-icon" href="img/icons/favicon.png")
        link(rel="stylesheet" href="css/style.css")

    body
        section#sign-in-container
            .left-content
                img.medihub(src="img/icons/groupicon.png" alt="" onclick="window.location.href='/'")
                img(src="img/icons/Group.png" alt="")
            .right-content
                h1 Sign Up
                h4 #[span Already have an account? ]#[a(href="/login") Sign In]
                #select-content
                    label(for="email">Who are you?)
                    br
                    select(name="list" class="select")
                        option(value="user") Patient
                        option(value="doctor") Doctor
                        option(value="receptionist") Receptionist
                        option(value="admin") Administration

                .input
                    label(for="name") Name
                    br
                    input(type="text" name="name" id="nameId")
                .input
                    label(for="phone") Phone Number
                    br
                    input(type="number" name="phone" id="phoneId")
                .input
                    label(for="password") Password
                    br
                    input(type="password" name="password" id="passwordId")
                .input
                    label(for="password") Confirm Password 
                    br
                    input(type="password" name="confirmPassword" id="passwordConfirmId")
                .button
                    button.signbtn.signUpBtn Sign Up
                    button.google-sign 
                        img(src="img/icons/google-icon 1.png" alt="")
                        p &nbsp; Sign Up with Google
                .sign-in-bottom
                    a(href="#") Terms
                    a(href="#") Plans
                    a(href="#") Contact Us

        script(src='/dist/index.js') 