doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title MEDIHUB | #{title}
        link(rel="icon" type="image/x-icon" href="img/icons/favicon.png")
        link(rel="stylesheet" href="css/style.css")

    body
        section#sign-in-container
            .left-content
                img.medihub(src="img/icons/groupicon.png" alt="")
                img(src="img/icons/Group.png" alt="")
            .right-content
                h1 Sign In
                h4 #[span New Here? ]#[a(href="/signup") Create an Account]
                .input
                    label(for="phone") Phone Number 
                    br
                    input(type="number" name="phone" id="")
                .input
                    label(for="password") Password
                    br
                    input(type="password" name="password" id="")
                a.forget(href="#") Forget Password
                .button
                    button.signbtn Sign In
                    button.google-sign
                        img(src="img/icons/google-icon 1.png" alt="")
                        p &nbsp; Sign In with Google
                .sign-in-bottom
                    a(href="#") Terms
                    a(href="#") Plans
                    a(href="#") Contact Us